// Place all the styles related to the Collections controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table {
	border-spacing: 0px;
	font-size: 10px;
}

.art-table-data {
	padding: 0px 10px;
	/* border-left: .5px solid gray; */
	color: #808080;
}

.art-table-header > tr > th.art-table-notes-header {
	padding: 10px 15px;
	text-align: left;
	line-height: 11px;
}

.art-table-header > tr > th {
	padding: 10px 4px;
	text-align: left;
	line-height: 11px;
}

.art-table-notes {
	padding: 0px 15px;
}

.art-table {
	border: 1px solid #E5E5E5;
	max-width: 1400px;
	color: #808080;
}

.art-table tr:nth-child(even) {
	background-color: #f5f5f5;
}

.art-table-header {
	background-color: #7BA1CD;
	color: black;
}

div.art-table > table > tbody > tr > td {
	font-size: 10px;
}

div.art-table > table > tbody > tr > td > img {
	margin-top: 20%;
	margin-bottom: 20%;
}

/* Style the art-panel panel. Note: hidden by default */
.artwork-table-collection {
  padding: 0 18px;
  background-color: white;
  display: none;
  /* overflow: hidden; */
}

.art-panel-collection {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

.table-of-contents {
	position: relative;
	width: 900px;
	height: 1320px;
	margin-left: auto;
    margin-right: auto;
	max-height: 1320px;
    border-left: 1px solid #777777;
    border-right: 1px solid #777777;
}

.collection-name {
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid black;
}

.collection-name > h1 {
	margin:0px;
	padding-left: 2px;
}

.toc-container {
	width: 100%;
	background-color: rgb(235, 235, 235);
	margin-top: 5px;
}

.toc {
	width: 890px;
	border-collapse: collapse;
	margin-left: 5px;
	margin-right: 5px;
}

.toc-heading {
	height: 50px;
	border-bottom: 1px solid #777777;
}

.toc-subheader {
	width: 70%;
	float: left;
}

.toc-subheader > h3 {
	padding-left: 2px;	
}

.toc-subheader-img {
	float: right;
	position: relative;
}

.toc-logo-img {
	height: 40px;
	position: absolute;
	right: 0px;
	top: 4px;
}

.toc-row {
	height: 40px;
	border-bottom: 2px dotted #4A6E98;
}

.toc-data-left {
	width: 20%;
}

.toc-data-middle {
	width: 25%;
}

.toc-data-right {
	width: 55%;
}