// Place all the styles related to the Collections controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.art-table {
	border: 1px solid black;
	max-width: 1320px;
}

.art-table tr:nth-child(even) {
	background-color: #ADD8E6;
}